[submodule "UnityMeshSimplifier"]
	path = UnityMeshSimplifier
	url = https://github.com/redcool/UnityMeshSimplifier.git
[submodule "VHacd4-Unity"]
	path = VHacd4-Unity
	url = https://github.com/redcool/VHacd4-Unity.git
